# Настройки Docker Compose. Значения по умолчанию предназначены для локального запуска.
BIND_ADDRESS=127.0.0.1
DB_NAME=elephants
DB_USER=postgres
DB_PASSWORD=postgres
POSTGRES_PORT=5432
INTEGRATIONS_TEMPORAL_NAMESPACE=default
TEMPORAL_PORT=7233
TEMPORAL_UI_PORT=8081
SERVER_PORT=8080
AUTHORIZATION_SERVER_PORT=9000
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_AUTHORIZATION_URL=http://localhost:9000
