DB_HOST=localhost
DB_PORT=5432
DB_NAME=elephants
DB_USER=postgres
DB_PASSWORD=postgres
INTEGRATIONS_TEMPORAL_TARGET=127.0.0.1:7233
INTEGRATIONS_TEMPORAL_NAMESPACE=default
SERVER_PORT=8080
AUTHORIZATION_SERVER_PORT=9000
TEMPORAL_WORKERS_ENABLED=true
